{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "ignorePatterns": "**/*.html",
  "extends": ["prettier"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "prettier/prettier": "error",
    "import/order": [
      "error",
      {
        "groups": ["sibling", "internal", "external", "builtin", "object", "parent", "index"]
      }
    ],
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-return-await": "error",
    "semi": "error",
    "no-tabs": "error",
    "no-unused-vars": "warn",
    "object-curly-newline": 0,
    "no-empty-function": "warn",
    "no-trailing-spaces": "error",
    "object-curly-spacing": [2, "always"],
    "key-spacing": [2, { "afterColon": true }],
    "no-empty": "warn",
    "newline-per-chained-call": "off",
    "prefer-destructuring": "warn",
    "quotes": [2, "single", { "avoidEscape": false, "allowTemplateLiterals": true }],
    "no-redeclare": "off",
    "indent": [2, 2, { "SwitchCase": 1 }],
    "max-len": [2, { "code": 120 }],
    "no-undef-init": "error",
    "no-useless-escape": "warn",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }]
  }
}
